<div class="row">
    <div class="col-sm-2 col-xs-12">
        <button class="btn btn-primary" type="button" ui-sref="contacts.new">Add contact</button>
    </div>
    <div class="col-sm-5 col-sm-offset-5 col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search contacts" ng-model="searchString">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
</div>


<div ui-view></div>
