<h3>Contact details</h3>

<div class="well">
    <div class="row">
        <div class="col-sm-3 col-xs-12 center-block">
            <img src="user.png" class="img-circle user-image img-responsive">
        </div>
        <div class="col-sm-9 col-xs-12 contact-info">
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default" ui-sref="contacts.addlink({id: vm.contact.CustomerID})">
                    Add link
                </button>
                <button type="button" class="btn btn-default" ui-sref="contacts.edit({id: vm.contact.CustomerID})">
                    Edit
                </button>
                <button type="button" class="btn btn-danger" ng-click="vm.remove()">
                    Delete
                </button>
            </div>

            <h2>{{vm.contact.ContactName}}</h2>
            <h4>{{vm.contact.ContactTitle}}</h4>
            <p><strong>Company: </strong>{{vm.contact.CompanyName}}</p>
            <p><strong>Country: </strong>{{vm.contact.Country}}</p>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <p><strong>City: </strong>{{vm.contact.City}}</p>
                    <p><strong>Index: </strong> {{vm.contact.PostalCode}}</p>
                    <p><strong>Address: </strong>{{vm.contact.Address}}</p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p><strong>E-mail: </strong>{{vm.contact.Email}}</p>
                    <p><strong>Phone: </strong>{{vm.contact.Phone}}</p>
                    <p><strong>Fax: </strong>{{vm.contact.Fax}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="vm.isLinksExist()">
    <h3>Linked contacts</h3>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Contact name</th>
            <th>Contact title</th>
            <th>Company</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(id, contact) in vm.contact.Links">
            <td>{{$index + 1}}</td>
            <td>{{contact.ContactName}}</td>
            <td>{{contact.ContactTitle}}</td>
            <td>{{contact.CompanyName}}</td>
            <td><div class="glyphicon glyphicon-remove pull-right cursor" aria-hidden="true"
                     ng-click="vm.unlink(contact.CustomerID)"></div></td>
        </tr>
        </tbody>
    </table>
</div>
