<h3>Edit contact</h3>

<form name="editform" ng-submit="vm.editContact()">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div>Name</div>
                <input type="text" class="form-control" ng-model="vm.contact.ContactName" required>
            </div>
            <div class="form-group">
                <div>Title</div>
                <input type="text" class="form-control" ng-model="vm.contact.ContactTitle" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div>Company name</div>
                <input type="text" class="form-control" ng-model="vm.contact.CompanyName" required>
            </div>
            <div class="form-group">
                <div>Postal code</div>
                <input type="text" class="form-control" ng-model="vm.contact.PostalCode">
            </div>
            <div class="form-group">
                <div>City</div>
                <input type="text" class="form-control" ng-model="vm.contact.City">
            </div>
            <div class="form-group">
                <div>Address</div>
                <input type="text" class="form-control" ng-model="vm.contact.Address">
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <div>Country</div>
                <input type="text" class="form-control" ng-model="vm.contact.Country">
            </div>
            <div class="form-group">
                <div>E-mail</div>
                <input type="text" class="form-control" ng-model="vm.contact.Email">
            </div>
            <div class="form-group">
                <div>Phone</div>
                <input type="text" class="form-control" ng-model="vm.contact.Phone">
            </div>
            <div class="form-group">
                <div>Fax</div>
                <input type="text" class="form-control" ng-model="vm.contact.Fax">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class=" btn-block" role="group">
                <button type="submit" class="btn btn-primary">Edit contact</button>
                <button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
            </div>
        </div>
    </div>
</form>
