<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="contacts.array.list">Address book</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="btn-group btn-default btn-group-sm navbar-btn navbar-right">
                <button type="button" class="btn btn-default" ui-sref="contacts.array.list">List</button>
                <button type="button" class="btn btn-default" ui-sref="contacts.array.tiles">Tiles</button>
            </div>
        </div>
    </div>
</nav>