<h3>Add link to {{vm.contact.ContactName}}
    <small class="pull-right">count: {{contacts.length}}</small>
</h3>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search contacts" ng-model="searchString">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4 col-xs-12">
        <div class="btn-group pull-right" role="group">
            <button type="button" class="btn btn-default" ui-sref="contacts.details({ index: vm.index })">
                Back
            </button>
            <button type="button" class="btn btn-primary" ng-click="vm.save()">
                Save link
            </button>
        </div>
    </div>
</div>

<table class="table table-hover" ng-show="contacts.length">
    <thead>
        <tr>
            <th>#</th>
            <th>Contact name</th>
            <th>Contact title</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody class="cursor">
        <tr ng-repeat="contact in contacts = (vm.linkContacts | filter:searchString)"
            ng-class="{info: vm.contact.Links[contact.CustomerID]}"
            ng-click="vm.select(contact)">
            <td>{{$index + 1}}</td>
            <td>{{contact.ContactName}}</td>
            <td>{{contact.ContactTitle}}</td>
            <td>{{contact.CompanyName}}</td>
        </tr>
    </tbody>
</table>