<h3>Contact list <small class="pull-right">count: {{contacts.length}}</small></h3>


<table class="table table-hover" ng-show="contacts.length">
    <thead>
        <tr>
            <th>#</th>
            <th>Contact name</th>
            <th>Phone</th>
            <th>Contact title</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="cursor">
        <tr ng-repeat="contact in contacts = (vm.contacts | filter:searchString)"
            ui-sref="contacts.details({id: contact.CustomerID})">
            <td>{{$index + 1}}</td>
            <td>{{contact.ContactName}}</td>
            <td>{{contact.Phone}}</td>
            <td>{{contact.ContactTitle}}</td>
            <td><div class="glyphicon glyphicon-remove pull-right" aria-hidden="true"
                      ng-click="vm.remove(contact.CustomerID)"></div></td>
        </tr>
    </tbody>
</table>
