<h3>Add new contact</h3>

<form name="newForm" ng-submit="vm.addContact()">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div>Name</div>
                <input type="text" class="form-control" ng-model="vm.newContact.ContactName" required>
            </div>
            <div class="form-group">
                <div>Title</div>
                <input type="text" class="form-control" ng-model="vm.newContact.ContactTitle" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <div>Company name</div>
                <input type="text" class="form-control" ng-model="vm.newContact.CompanyName" required>
            </div>
            <div class="form-group">
                <div>Postal code</div>
                <input type="text" class="form-control" ng-model="vm.newContact.PostalCode" required>
            </div>
            <div class="form-group">
                <div>City</div>
                <input type="text" class="form-control" ng-model="vm.newContact.City" required>
            </div>
            <div class="form-group">
                <div>Address</div>
                <input type="text" class="form-control" ng-model="vm.newContact.Address" required>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <div>Country</div>
                <input type="text" class="form-control" ng-model="vm.newContact.Country" required>
            </div>
            <div class="form-group">
                <div>E-mail</div>
                <input type="email" class="form-control" ng-model="vm.newContact.Email" required>
            </div>
            <div class="form-group">
                <div>Phone</div>
                <input type="text" class="form-control" ng-model="vm.newContact.Phone" required>
            </div>
            <div class="form-group">
                <div>Fax</div>
                <input type="text" class="form-control" ng-model="vm.newContact.Fax" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class=" btn-block" role="group">
                <button type="submit" class="btn btn-primary">Add contact</button>
                <button type="button" class="btn btn-default" ng-click="vm.clearForm()">Clear</button>
            </div>
        </div>
    </div>
</form>