<h3>Contact tiles <small class="pull-right">count: {{contacts.length}}</small></h3>

<div class="row">
    <div class="col-md-6 col-sm-12" ng-repeat="contact in contacts = (vm.contacts | filter:searchString)">
        <div class="well profile">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 col-md-push-8 center-block">
                            <img src="user.png" alt="" class="img-circle img-responsive">
                        </div>
                        <div class="col-sm-12 col-md-8 col-md-pull-4 info-main">
                            <h2>{{contact.ContactName}}</h2>
                            <h4>{{contact.ContactTitle}}</h4>

                            <p><strong>Country: </strong>{{contact.Country}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><strong>Company : </strong>{{contact.CompanyName}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 hr">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 phone-block">
                            <h2><strong>{{contact.Phone}}</strong></h2>
                            <p><small>Phone</small></p>
                        </div>
                        <div class="col-md-12 col-lg-6 email-block">
                            <p><strong>E-mail: </strong>{{contact.Email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 hr text-center">
                    <div class=" btn-group" role="group">
                        <button type="button" class="btn btn-danger" ng-click="vm.remove(contact.CustomerID)">
                            Delete
                        </button>
                        <button type="button" class="btn btn-info"
                                ui-sref="contacts.edit({id: contact.CustomerID})">
                            Edit
                        </button>
                        <button type="button" class="btn btn-success"
                                ui-sref="contacts.details({id: contact.CustomerID})">
                            Open
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
