body {
    padding-top: 70px;
}

.hr {
    border-top: 1px solid #e6e6e6;
}

.cursor {
    cursor: pointer;
}

.glyphicon-remove {
    visibility: hidden;
    margin-right: 15px;
}

tr:hover .glyphicon-remove {
    visibility: visible;
}

div.hr .btn-group {
    margin: 20px 0;
}

.info-main {
    padding-bottom: 15px;
}

.phone-block h2 {
    margin-bottom: 0;
}

.email-block p {
    margin-top: 30px;
}